{% extends 'standard.html' %}

{% block head %}
<title>Cadastro de Fornecedores</title>
{% endblock %}


{% block body %}
<section>
    {% if countryes|length < 1 %}
        <h4>Ainda não existem países cadastrados, por favor cadastre um país para poder cadastrar Fornecedores</h4>
    {% elif estates|length < 1  %}
        <h4>Ainda não existem estados cadastrados, por favor cadastre um estado para poder cadastrar Fornecedores</h4>
    {% elif cityes|length < 1 %}
        <h4>Ainda não existem cidades cadastradas, por favor cadastre uma cidade para poder cadastrar Fornecedores</h4>
    {% else %}
        <h1>Cadastro de Fornecedores</h1>
        <section>
            <hr></hr>

            <h1>Cadastrar Fornecedor</h1>
        

            <div class = "format">
                <form action="/cadastros_de_entidades_fornecedores_cadastros" method="POST">
                    <div class = "format">
                        <p>Nome</p>
                        <input type="text" name="name" id="name" maxlength="200" autocomplete="off" required>
                    </div>
                    <hr></hr>

                    <h1>Endereço Completo</h1>
                
                    <div class = "format">
                        <p>País</p>
                        <select name="id_bd_country" id="id_bd_country" required>
                            <option value="">Selecione um País</option>
                            {% for country in countryes %}
                                <option value="{{ country.ID }}">{{ country.NAME }}</option>
                            {% endfor %}
                        </select>
                        <p>Estado</p>
                        <select name="id_bd_estate" id="id_bd_estate" required>
                            <option value="">Selecione um estado</option>
                        </select>
                        <p>Cidade</p>
                        <select name="id_bd_city" id="id_bd_city" required>
                            <option value="">Selecione uma cidade</option>
                        </select>  
                        <p>Bairro</p>
                        <input type="text" name="district" id="district" maxlength="200" autocomplete="off" required>
                    </div>
                    <div class = "format">
                        <p>Rua</p>
                        <input type="text" name="road" id="road" maxlength="200" autocomplete="off" required>
                        <p>Número</p>
                        <input type="number" name="number" id="number" min="0" step="1" autocomplete="off" required>
                        <p>Complemento</p>
                        <input type="text" name="complement" id="complement" maxlength="200" autocomplete="off" required>
                        <section>
                            <p>CEP</p>
                            <small>formato: 00000-000</small>
                        </section>
                        <input type="text" name="cep" id="cep" pattern="[0-9]{5}-[0-9]{3}" placeholder="00000-000" autocomplete="off" required>
                    </div>  
                    <hr></hr>
  
                    <h1>Dados Cadastrais</h1>

                    <div class = "format">
                        <p>E-mail</p>
                        <input type="email" name="email" id="email" maxlength="200" autocomplete="off" required>
                        <section>
                            <p>Telefone</p>
                            <small>Formato: 099-99999-9999</small>
                        </section>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{5}-[0-9]{4}" placeholder="099-99999-9999" required>  
                    </div>
                    <div class = "format">
                        <section>
                            <p>CNPJ</p>
                            <small>Formato: 00.000.000/0000-00</small>
                        </section>
                        <input type="text" name="cnpj" id="cnpj" pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}" placeholder="00.000.000/0000-00" autocomplete="off" required>
                    </div>    
                    <input type="hidden" id="active" name="active" value="True">
                    <br>
                    <input class="bt" type="submit" value="Cadastrar Novo Fornecedor">
                    <input class="bt" type="reset" value="Limpar Campos"> 
                </form>
                <hr></hr>

            </div>
        </section>
        <section class="tabelas">
            {% if suppliers|length < 1 %}
                <h4>Ainda Não Existem Fornecedores Cadastrados</h4>
            {% else %}
            <hr></hr>

            <h1>Fornecedores Cadastrados</h1>


                <table class="tabela">
                    <tr>
                        <th>Nome</th>
                        <th>País</th>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    <tr>
                    {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.NAME }}</td>
                        <td>{{ get_country(supplier.ID_BD_COUNTRY) }}</td>
                        <td>{{ get_state(supplier.ID_BD_ESTATE) }}</td>
                        <td>{{ get_city(supplier.ID_BD_CITY) }}</td>
                        <td>
                            {% if supplier.ACTIVE == 1%}
                            Ativo
                            {% else %}
                            Inativo
                            {% endif %}
                        </td>
                        <td>
                            <!-- <a href="/cadastros_de_entidades_fornecedores_deletar/{{supplier.ID}}">Excluir</a> -->
                            <a href="/cadastros_de_entidades_fornecedores_update/{{supplier.ID}}">Alterar</a>
                        </td>
                        
                        </tr> 
                    {% endfor %}
                </table>
                {% endif %}
        </section>
</section>
{% endif %}





<!-- Este Script não é de nossa autoria-->
<script>
    // Function to fetch states based on selected country
    function fetchStates(countryId) {
        fetch('/get_states/' + countryId)
            .then(response => response.json())
            .then(data => {
                const statesDropdown = document.getElementById('id_bd_estate');
                statesDropdown.innerHTML = '<option value="">Selecione um estado</option>';
                data.forEach(state => {
                    statesDropdown.innerHTML += `<option value="${state.ID}">${state.NAME}</option>`;
                });
            });
    }

    // Function to fetch cities based on selected state
    function fetchCities(stateId) {
        fetch('/get_cities/' + stateId)
            .then(response => response.json())
            .then(data => {
                const citiesDropdown = document.getElementById('id_bd_city');
                citiesDropdown.innerHTML = '<option value="">Selecione uma cidade</option>';
                data.forEach(city => {
                    citiesDropdown.innerHTML += `<option value="${city.ID}">${city.NAME}</option>`;
                });
            });
    }

    // Event listener for country selection
    document.getElementById('id_bd_country').addEventListener('change', function() {
        const countryId = this.value;
        fetchStates(countryId);
    });

    // Event listener for state selection
    document.getElementById('id_bd_estate').addEventListener('change', function() {
        const stateId = this.value;
        fetchCities(stateId);
    });
</script>
{% endblock %}
