{% extends 'standard.html' %}

{% block head %}
<title>Industria Feliz - Inicio</title>
{% endblock %}
{% block body %}
<section >
    <h1>Início</h1>
    <p>Em resposta à crescente demanda por eficiência operacional e excelência no atendimento ao cliente, nossa empresa desenvolveu um Sistema de Gerenciamento Integrado (SGI) projetado para otimizar processos internos, melhorar a comunicação interdepartamental e assegurar a qualidade dos serviços prestados. Este documento visa apresentar uma visão geral do sistema, seus principais componentes e os benefícios esperados.<p>
    <p>O Sistema de Gerenciamento Integrado é uma solução multifuncional que combina diversas ferramentas e tecnologias para proporcionar uma gestão holística dos processos empresariais. Ele integra módulos de controle de produção, gestão de estoque, atendimento ao cliente, análise financeira e recursos humanos, permitindo uma visão consolidada e em tempo real das operações da empresa.<p>
</div>
{% endblock %}