{% extends 'standard.html' %}

{% block head %}
<title>Cadastro de Materiais de Consumo</title>
{% endblock %}


{% block body %}

<section>

    {% if measures|length < 1 %}
        <h4>Ainda não existem medidas cadastradas, por favor cadastre uma medida para poder cadastrar materiais de consumo</h4>
    {% else %}

        <h1>Cadastro de Materiais de Consumo</h1>
        <div>
            <section class="formulario">

                <h1>Cadastrar Material de Consumo</h1>

                <form action="/cadastros_de_materiais_material_de_consumo_cadastros" method="POST">
                    <p>Material de Consumo</p>
                    <input type="text" name="name" id="name" maxlength="200" autocomplete="off" required>
                    <p>Medida</p>
                    <select name="id_bd_measures" id="id_bd_measures" required>
                        {% for measure in measures %}
                            <option value="{{ measure.ID }}" > {{ measure.NAME }}</option>
                        {% endfor %}
                    </select>
                    <p>IPI</p>
                    <input type="number" name="ipi" id="ipi" min="0" step="0.01" autocomplete="off" required>
                    <p>DIFAL</p>
                    <input type="number" name="difal" id="difal" min="0" step="0.01" autocomplete="off" required>
                    <br>
                    <br>
                    <input class="bt" type="submit" value="Cadastrar Material de Consumo">
                </form>

            </section>

            <section class="tabelas">

                {% if mcs|length < 1 %}
                    <h4>Ainda Não Existem Materiais de Consumo Cadastrados</h4>
                {% else %}

                <h1>Materiais de Consumo Cadastrados</h1>
                <table class="tabela">
                    <tr>
                        <th>Nome</th>
                        <th>Unidade de Medida</th>
                        <th>IPI</th>
                        <th>DIFAL</th>
                        <th>Data Criação</th>
                        <th>Ações</th>
                    <tr>
                    {% for mc in mcs %}
                    <tr>
                        <td>{{ mc.NAME }}</td>
                        <td>{{ get_measure(mc.ID_BD_MEASURES) }}
                        <td>{{ format_percentage(mc.IPI) }}</td>
                        <td>{{ format_percentage(mc.DIFAL) }}</td>
                        <td>{{ mc.DATE_CREATED.date() }}</td>
                        <td>
                            <!-- <a href="/cadastros_de_materiais_material_de_consumo_deletar/{{mc.ID}}">Excluir</a> -->
                            <a href="/cadastros_de_materiais_material_de_consumo_update/{{mc.ID}}">Alterar</a>
                        </td>
                        
                        </tr> 
                    {% endfor %}
                </table>
                {% endif %}
            </section>
        </div>
    {% endif %} 
</section>
{% endblock %}